/* page defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: overlay;
  scroll-behavior: smooth;
  font-family:Poppins;
}

::-webkit-scrollbar {
  width: 16px;
  height: 100%;
}
  
::-webkit-scrollbar-thumb {
  border: 6px solid #00000000;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  background-clip: padding-box;
  background-color: #000000;
}

h {
  font-size: 48px;
  color: #000000;
}

h1 {
  font-size: 28px;
  font-weight: 400;
}
  
p {
  font-size: 16px;
  line-height: 1.8;
  color: #000000;
}

a {
  text-decoration: underline;
  line-height: 1.8;
  color: #000000;
}

.bx {
  font-size: 24px;
  line-height: 1.8;
  margin: 8px;
  top: 50%;
  transform: translateY(20%);
}

.back {
  position: fixed;
  margin-top: 8px;
  margin-left: 16px;
  top: 0;
  left: 0;
  z-index: 1;
}

body {
  background-image: url("images/index-bg.png");
  background-attachment: fixed;
  background-size: 100%;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: fit-content;
  margin: 0px 16px 16px 16px;
  padding: 24px 36px 36px 36px;
  border-radius: 8px;
  background-color: #f1f8e9;
}

.credit-card {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0px 16px 0 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* home card */
.home-card {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: fit-content;
  margin: 0px 16px 0 16px;
  padding: 0 36px 48px 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  position: relative;
  font-size: 32px;
  font-weight: 600;
  float: left;
}

.profile {
  position: relative;
  width: 100%;
  max-width: 144px;
  margin: 16px 0 16px 0;
  float: right;
}

/* skills card */
.progress {
  position: relative;
  width: 100%;
  height: 2px;
  margin-top: 48px;
}
  
.progress-title {
  position: relative;
  font-size: 16px;
  float: left;
  top: 50%;
  transform: translateY(-50%);
}
  
.progressbar {
  position: relative;
  width: 100%;
  max-width: 36%;
  height: 2px;
  float: right;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 1px;
  background-color: #bec5b7;
}
  
.progressbar-fg {
  position: relative;
  height: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
  background-color: #000000;
}
  
.percentage {
  position: relative;
  font-size: 14px;
  margin-right: 16px;
  float: right;
  top: 50%;
  transform: translateY(-50%);
}
  
.csharp {
  width: 5%;
}
  
.htmlcss {
  width: 70%;
}

.windowsapps {
  width: 10%;
}

.uiux {
  width: 80%;
}

.cadsketchup {
  width: 60%;
}

.itmanagement {
  width: 50%;
}

.googling {
  width: 85%;
}

.maths {
  width: 95%;
}

.english {
  width: 95%;
}

.german {
  width: 40%;
}

.spanish {
  width: 30%;
}

/* projects card */
.project {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.project-image {
  position: relative;
  height: 100%;
  max-height: 144px;
  float: right;
}

/* privacy notice card */
.privacy-notice-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.privacy-notice-link {
  margin: 0 4px 0 4px;
}

/* screenshots card */
.slideshow {
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.slides {
  width: 500%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

.indicators {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.indicator {
  width: 16px;
  height: 4px;
  background: #bec5b7;
  border-radius: 2px;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.indicator:hover {
  background: #000000;
}

.radio {
  position: absolute;
  visibility: hidden;
}

#radio-1:checked ~ .slide-1 {
  margin-left: 0%;
}

#radio-2:checked ~ .slide-1 {
  margin-left: -20%;
}

#radio-3:checked ~ .slide-1 {
  margin-left: -40%;
}

#radio-4:checked ~ .slide-1 {
  margin-left: -60%;
}

#radio-5:checked ~ .slide-1 {
  margin-left: -80%;
}